.header {
  position: relative;
  padding-top: 3rem;
  color: #000000;
  z-index: 11;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      border-bottom: 1px solid;
    }
  }
}

.logo {
  width: 9.1rem;
  max-width: 91px;
  cursor: pointer;
}

.logo_mobile {
  display: none;
}

.container {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;
  z-index: 5;
}

.menu {
  line-height: 1;
}

.menu__item {
  display: inline-block;
  color: #000000;
  font-weight: 500;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1.5rem;

  &.active {
    color: rgba(0, 0, 0, 0.3);

    a:hover {
      border-bottom: none;
    }
  }

  & + & {
    margin-left: 1.5rem;
  }
}

.auth {
  position: relative;
  line-height: 1;
}

.auth__item {
  font-size: 1.6rem;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;

  a:hover {
    border-bottom: 1px solid;
  }

  & + & {
    margin-left: 2rem;
  }
}

.dropdown {
  position: relative;

  ul {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 18px;
    background: #000000;
    transform: translate(18px, 10px);

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -5px;
      right: 18px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #000000;
    }
  }

  li {
    display: block;
    margin-bottom: 9px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    text-transform: none;
    color: #ffffff;
    font-size: 1.6rem;
  }
}

.dropdownAction {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;

  &:after {
    content: '';
    display: block;
    width: 10px;
    height: 6px;
    margin-left: 5px;
    background: url('./images/arrow-down.svg') no-repeat center;
    background-size: 10px 6px;
  }

  &:hover {
    border-bottom: 1px solid;
  }
}

@media screen and (max-width: 1023px) {
  .logo {
    max-width: none;
  }

  .menu {
    display: none;
  }

  .auth {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .header {
    padding-top: 2.5rem;
  }

  .container {
    height: auto;
  }

  .logo {
    display: none;
  }

  .logo_mobile {
    display: block;
    max-width: 6rem;
    width: 6rem;
  }
}
